input[type="range"] {
    --range-progress: 0;
    margin-top:24px;
    /* ... */
    width: 80%;
    height: 6px;
    border-radius: 16px;
    background-color: #393634;
    /* -webkit-appearance: none; */
  }

  input[type=range]:focus {
    outline: none;
  }

  
  input[type="range"]::before {
    background: #f50 !important;  
    width: var(--range-progress);
  }
  
  input[type="range"]::after {
    background: red;
    width: var(--range-progress);
  }
  

@media screen and (max-width: 700px) {
    input[type="range"] {
      margin-top:24px;
      width: 100%;
    }
}