.main{
    color:white;
    font-family: BasierCircle;
    min-height:100vh;
    display: flex;
    justify-content: center;
}

.player{
  width: 80%;
}

@media screen and (max-width: 700px) {
  .main{
    min-height:auto;
    margin-bottom: 60px;
}
  .player{
    width: 100%;
  }
}



@media screen and (max-width: 450px) {

  .main{
    min-height:auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
  .player{
    width: 100%;
  }
}
