.bar{
    font-family: BasierCircle;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:16px;
    border-radius: 8px;
    padding:6px;
    padding-left:16px;
    padding-right:16px;
}
.bar:hover{
    cursor: pointer;
    background-color:  #262626;
}

.artist_detail{
    display:flex;
    gap:16px;
}

.artist_name h3{
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.artist_detail p{
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.6;
}

.song_time{
    font-size:14px;
    opacity: 0.6;
}
.artist_pic{
    width:48px;
    height: 48px;

}


.artist_pic img{
    width: 100%;
    height:100%;
    border-radius: 56px;

}