.home{
   margin-left:15px;
   display: flex;
   flex-direction: column;
   color:white;
}

.homeNav{
    height:80px;
    display: flex;
    align-items: center;
}

.heading{
    font-family: BasierCircle;
    font-size: 32px;
    font-weight: 800;
    /* line-height: 36px; */
    letter-spacing: 0em;
    text-transform: capitalize;
}

.songbars{
    /* max-height: 70vh; */
    /* overflow-y: scroll; */
}