.home{
   margin-top:20px; 
   margin-left:15px;
   display: flex;
   flex-direction: column;
   color:white;
   width: 80%;
}

.heading{
    font-family: BasierCircle;
    font-size: 32px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: capitalize;
    margin-bottom:32px;

}